body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 5px
}

.container {
  background-color: #fff;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #04AA6D;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}
button {
  width: 48%;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}
button[type="reset"] {
  background-color: #1cdc1c;
}
button[type="submit"] {
  background-color: #1cdc1c;
}

button:hover {
  opacity: 0.8;
}
.form-group{
display: flex;
}